<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/user_management</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="connection.pool_size">10</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="com.tw.core.entity.User"/>
        <mapping class="com.tw.core.entity.Employee"/>
        <mapping class="com.tw.core.entity.Coach"/>
        <mapping class="com.tw.core.entity.Course"/>
        <mapping class="com.tw.core.entity.Customer"/>
        <mapping class="com.tw.core.entity.CourseArrangement"/>
    </session-factory>

</hibernate-configuration>